.body{
    padding: 0px;
    margin: 0px;
    /*background-size: cover;
    background-position: center;
    style="background-image: url('{% static "images/Background.jpg"%}')";*/
    font-family: sans-serif;
    
}

#container{
    width: 320px;
    height: 450px;
    border-radius: 3%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;

}

.avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 110px;
    left: calc(50%, -50px);
}



h1{
    font-family: sans-serif;
    color: rgb(108,99,255);
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

p{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

input{
    font-family: sans-serif;
    width: 100%;
    margin-bottom: 20px;

}

input, select, textarea{
    color: #ffffff;
}

textarea:focus, input:focus {
    color: #14aa91;
}

input[type="text"], input[type="password"]
{
    
    border: none;
    background: transparent;
    outline: none;
    text-decoration: aliceblue;
    border-bottom: 1px solid rgb(20, 38, 206);
    
    height: 40px;
}


/*
input[type="password"]
 {
    border: none;
    background-color: none;
    outline: none;
    border-bottom: 1px solid rgb(20, 38, 206);
    
    height: 40px;
}
*/

button{    
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
button:hover span {
    padding-right: 25px;
}
  
button:hover span:after {
    opacity: 1;
    right: 0;
}


a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

a:hover{
    color:#f4511e;
}
